.ccproNav-inner .ccproNav-block {
    background:#f5f5f5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ccproNav-inner .ccproNav-block span:first-child {
    margin-right: 10px;
}

.ccproNav-inner .ccproNav-block.active {
    background: #4fbaa1;
}
.ccproNav-inner .ccproNav-block.active span{color:#fff;}

.ccproNav-inner .ccproNav-block {
    font-size: 13px;
    font-weight: 600;
}
.ccproNav-inner .ccproNav-block.active span.ccpro-unread-message {
    width: 100%;
    text-align: center;
}