.ccpro-video-window.ccpro-video-window-minimized {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 99999999;
    display: block;
    transform: scale(0.5) translate(-50%, -50%);
    bottom: 0;
    right: 0;
    max-width: 700px;
    max-height: 450px;
}
.ccpro-video-window > span {
    transform: scale(0.8);
}